.jumbotron {
  padding-top: 7rem;
  background-color: rgb(234, 228, 255);
}
.card-shadow {
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
}
.bg-blueviolet {
  background-color: blueviolet !important;
}
.btn-blueviolet {
  color: #fff;
  background-color: blueviolet;
  border-color: blueviolet;
}
.btn-blueviolet:hover {
  color: #fff;
  background-color: rgb(104, 35, 168);
  border-color: rgb(104, 35, 168);
}
section {
  padding-top: 5rem;
}
.card-rounded {
  border-radius: 1rem;
}
#projects .card h3 {
  font-size: 24px;
}
